@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@{
    Layout = null;
}

<link href="~/Template/assets/css/loader.css" rel="stylesheet" type="text/css" />
<script src="~/Template/assets/js/loader.js"></script>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
<link href="~/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Template/assets/css/plugins.css" rel="stylesheet" type="text/css" />









<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Template/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Template/bootstrap/js/popper.min.js"></script>
    <script src="~/Template/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Template/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Template/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="~/Template/assets/js/custom.js"></script>
}
